@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100;400&display=swap");

// Fonts

$primary-font: "Poppins", sans-serif;
$secondary-font: "Lora", serif;

// Colours

$white: #fcfcfc;
$shadow-white: #f2f2f2;
$sky-blue: #f2fbff;
$marine-blue: #2b3640;
$orange-light: #d15907;
$matte-black: #212121;
$light-black: #07133f;
$type-color: #b54320;
$red: #b54320;
$green: #219a38;
$orange-yellow: #f9932d;
$grey: #f2f2f22a;

// Backgrounds

$white: #fcfcfc;
$shadow-white: #f2f2f2;
$sky-blue: #f2fbff;

// Button Colors

$red: #e64949;
$light-blue: #002962;
$marine-blue: #2b3640;
